@model Ipet.ViewModels.CarrinhoViewModel

@using Ipet.MVC.Extensions

@{
    ViewData["Title"] = "Carrinho";
}

<h1>Seu Carrinho de Compras</h1>

@*<table>
    <thead>
        <tr>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Preço Unitário</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @if(Model.Produtos != null){
            @foreach (var carrinhoProduto in Model.Produtos)
            {
                <tr>
                    <td>@carrinhoProduto.Produto.Nome</td>
                    <td>@carrinhoProduto.Quantidade</td>
                    <td>@carrinhoProduto.Produto.Valor.ToString("C")</td>
                    <td>@(carrinhoProduto.Quantidade * carrinhoProduto.Produto.Valor).ToString("C")</td>
                </tr>
            }
        }
    </tbody>
</table>*@
<div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Quantidade</th>
                    <th>Preço Unitário</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Produtos != null)
                {
                    foreach (var carrinhoProduto in Model.Produtos)
                    {
                        <tr>
                            <td>@carrinhoProduto.Produto.Nome</td>
                            <td>@carrinhoProduto.Quantidade</td>
                            <td>@carrinhoProduto.Produto.Valor.ToString("C")</td>
                            <td>@(carrinhoProduto.Quantidade * carrinhoProduto.Produto.Valor).ToString("C")</td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        @if (Model.Produtos != null && Model.Produtos.Count > 0)
        {
            <div>
                <span>Total (USD)</span>
                <strong>
                    @Model.Produtos.Sum(item => item.Produto.Valor * item.Quantidade).ToString("C")
                </strong>
            </div>
        }
        <button class="btn btn-primary btn-lg" type="submit">Continue to checkout</button>
    </div>
</div>


