@using Ipet.MVC.Extensions
@using System.Security.Claims;
@model IEnumerable<Ipet.ViewModels.ProdutoViewModel>

<link href="~/css/produtos.css" rel="stylesheet" />
<link href="~/css/vendor.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
<div class="preloader-wrapper">
    <div class="preloader">
    </div>
</div>
<style>
    .tab-image {
        width: 100px; /* Largura desejada da imagem */
        height: auto; /* Mantém a proporção da imagem */
    }
</style>
<script>
    // Aguarde até que o documento esteja completamente carregado
    document.addEventListener("DOMContentLoaded", function () {
        // Selecione o botão pelo ID ou classe que você definiu
        const btnCarrinho = document.getElementById("btnCarrinho");

        // Adicione um ouvinte de evento de clique ao botão
        btnCarrinho.addEventListener("click", function () {
            // Envie uma solicitação AJAX para a rota "Carrinho"
            fetch('/Produtos/Carrinho', {
                method: 'POST', // Defina o método HTTP conforme necessário
            })
                .then(response => {
                    if (response.status === 200) {
                        // A solicitação foi bem-sucedida, faça algo se necessário
                        console.log('Ação de carrinho bem-sucedida.');
                    } else {
                        // A solicitação falhou, faça algo se necessário
                        console.error('Falha na ação de carrinho.');
                    }
                })
                .catch(error => {
                    console.error('Erro na ação de carrinho: ' + error);
                });
        });
    });
</script>


<section class="py-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="bootstrap-tabs product-tabs">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">
                            <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
                               @foreach (var item in Model)
                                 {
                                    <div class="col-3">

                                        <div class="product-item">
                                            <a href="#" class="btn-wishlist">
                                                <svg width="24" height="24">
                                                    <use xlink:href="#heart">

                                                    </use>
                                                </svg>
                                            </a>
                                            <figure>
                                                <a href="@Url.Action("Details", "Produtos", new { id = item.Id })" title="Product Title">
                                                    <img src="data:@item.Imagem" class="tab-image" style="width: 150px; height: 150px;">
                                                </a>
                                            </figure>


                                            <h3>@Html.DisplayFor(modelItem => item.Nome)</h3>
                                            <span class="qty">@Html.DisplayFor(modelItem => item.Estabelecimento)</span>
                                            <span class="rating"><svg width="24" height="24" class="text-primary">
                                                <use xlink:href="#star-solid"></use></svg> 4.5</span>
                                            <span class="price">$@Html.DisplayFor(modelItem => item.Valor)</span>
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="input-group product-qty">
                                                    <span class="input-group-btn">
                                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus" data-field="">
                                                            <svg width="16" height="16"><use xlink:href="#minus"></use></svg>
                                                        </button>
                                                    </span>
                                                    <input type="text" id="quantity" name="quantity" class="form-control input-number" value="10" min="1" max="100">
                                                    <span class="input-group-btn">
                                                        <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">
                                                            <svg width="16" height="16"><use xlink:href="#plus"></use></svg>
                                                        </button>
                                                    </span>
                                                </div>
                                                @*<a href="#" class="nav-link">Add to Cart<iconify-icon icon="uil:shopping-cart"></a>*@
                                                @Html.Partial("_CarrinhoButton", item)
                                                @*<a id="btnCarrinho" class="nav-link" asp-controller="Produtos" asp-action="Carrinho" asp-route-id="@item.Id" asp-protocol="http-post">
                                                    <i class="fa-solid fa-cart-shopping"></i>
                                                </a>*@

                        


                                            </div>

                                            @if (User.Identity.IsAuthenticated && User.HasClaim("Usuario", "2"))
                                            {
                                                if (Guid.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier)) == item.EstabelecimentoId)
                                                {

                                                    <a supress-by-claim-name="Produto" supress-by-claim-value="Editar" class="btn btn-info" asp-controller="Produtos" asp-action="Edit" asp-route-id="@item.Id"><spam class="fa fa-pencil-alt"></spam> </a>

                                                }


                                            }

                                        </div>

                                    </div>
                                 }
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>